.shopcategory{
    width: 80%;
    height: 48vh;
    display: flex;
    margin: auto;
    padding: 0px 140;
    margin-bottom: 40px;
    background: linear-gradient(180deg,#fde1ff, transparent 50%, #fde1ff 80%);
    
}
.shopcategoryleft{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
}
.shopcategoryleft h1{
    color: tomato;
    font-size: 70px;
    font-weight: 600;
    padding-left: 60px;
}
.shopcategoryleft p{
    color: #171717;
    font-size: 22px;
    font-weight: 600;
    padding-left: 60px;
    padding-top: 30px;
}
.shopcategoryleft span{
    color: tomato;
    font-size: 22px;
    font-weight: 600;
    padding-left: 5px;
}
.shopcategoryleft button{
    width: 282px;
    height: 70px;
    border-radius: 35px;
    margin-top: 60px;
    margin-left: 60px;
    background-color:tomato;
    color: white;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    border: none;
}
.shopcategoryright{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
    
}
.shopcategoryright img{
    height: 350px;
    width: 500px;
    padding-bottom: 25px;
}
.shopcategory-indexSort{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}
.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shopcategory-sort img{
    width: 50px;
    height: 40px;
}
.shopcategory-indexSort p span{
    font-weight: 600;
}
.shopcategory-products{
    margin: 30px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 70px;
    column-gap: 40px;
}
.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:70px auto;
    width: 233px;
    height: 69px;
    border-radius:75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;

}